/* Fonts */
@font-face {
  font-family: 'Mukta';
  src: url(~@/assets/fonts/Mukta-Regular.ttf);
}
@font-face {
  font-family: 'Mukta';
  font-weight: lighter;
  src: url(~@/assets/fonts/Mukta-Light.ttf);
}
@font-face {
  font-family: 'Mukta';
  font-weight: bold;
  src: url(~@/assets/fonts/Mukta-Bold.ttf);
}
@font-face {
  font-family: 'Teko';
  src: url(~@/assets/fonts/Teko-Regular.ttf);
}
@font-face {
  font-family: 'Teko';
  font-weight: lighter;
  src: url(~@/assets/fonts/Teko-Light.ttf);
}
@font-face {
  font-family: 'Teko';
  font-weight: bold;
  src: url(~@/assets/fonts/Teko-Bold.ttf);
}