/* Fonts */
@font-face {
  font-family: 'Mukta';
  src:  url('~@/assets/fonts/subset-Mukta-Regular.woff2') format('woff2'),
        url('~@/assets/fonts/subset-Mukta-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Teko';
  src:  url('~@/assets/fonts/subset-Teko-Regular.woff2') format('woff2'),
        url('~@/assets/fonts/subset-Teko-Regular.woff') format('woff');
}

// url(~@/assets/fonts/Teko-Regular.ttf);
// src: url(~@/assets/fonts/Mukta-Regular.ttf);